body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




body{
  background-color: rgb(251, 55, 81);
}

.header{
  background-color: #000000;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header ul{
  display: flex;
  column-gap: 300px; 
  list-style: none;  
}
.navLink{
  text-decoration: none;
  font-size: 30px;
  color:aqua;
  
}
table {
  border: 1px solid;
  width: 70%;
  margin:30px auto;
  color: aquamarine;
}

th {
  border: 1px solid;
  height: 70px;
  width: 30px;
  
}
td{
  border: 1px solid;
  width: 30%;
  height: 40px;
  text-align: center;
}
h1{
    text-align: center;
    color: #bae300;
}